extends layout

append head
  script(src="/javascripts/movie.js" type="module" defer)

block content
  div.mainMovie
    div.mainContainer
      div#moviecol
        img.mainMoviePoster(src= movie.posterPath)
        div.watchedsection
          div.watchedbutton
            if vaults
              form(action=`/movies/:id/watched` method='post')
                input(type='hidden' name='_csrf' value=token)
                input#movieId(type='hidden' name='movieId' value=movie.id)
                input(type='hidden' name='watched' value='watched')
                button#watched(type="submit")
                  if watched
                    span#watched Watched
                  else
                    span#watched Unwatched
            if vaults
              form(action=`/movies/:id/vaulted` method='post')
                input(type='hidden' name='_csrf' value=token)
                input(type='hidden' name='movieId' value=movie.id)
                input(type='hidden' name='addToVault' value='added')
                button#addToVault(type="submit")
                  span#buttonSpan Add To Vault
                select(name='vaultId')
                  each vault in vaults
                    option(value=vault.id)= vault.name
      div#moviecont
        h1#movietitle.movieHeader= movie.title
        br
        div.moviedetails= `Synopsis: ${movie.description}`
        br
        div= `Release Date: ${movie.releaseDate}`
        br
        div= `Genre: ${movie.Genre.name}`
        div
  h1(class='review-header')= "Reviews"
  div
  form(method='POST' action=`/movies/${movie.id}/reviews`)
    input(type='hidden' name='_csrf' value=token)
    input(class='review-area' name='content')
    div
    button(class='review-button' type='submit') Submit Review!
    div
  div(class='review-collection')
    each review in movie.Reviews
      if review.content
        div(class='date')= review.updatedAt
        div(class='review editable')= review.content
          form(class='edit' method="POST" action=`/movies/${movie.id}/reviews/${review.id}/edit`)
            input(type='hidden' name='_csrf' value=token)
            button(class='edit-button' type='submit') Edit
          form(class='delete' method="POST" action=`/movies/${movie.id}/reviews/${review.id}/delete`)
            input(type='hidden' name='_csrf' value=token)
            button(class='delete-button' type='submit') Delete
