mixin validationErrorSummary(errors)
    if errors
        div(class='errors-container')
            p The following error(s) occurred:
            ul
                each error in errors
                    li= error

mixin connectWithUsLinks(gitHubLink, personName)
    div: a(href=gitHubLink): img(class="connectWithUs-github" src="/images/githubicon.png", alt=personName)

mixin formField(labelText, fieldName, fieldPlaceholder = null, fieldType = 'text')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName placeholder=fieldPlaceholder)
